.map-container {
	margin: 5vh auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mapboxgl-ctrl-top-right {
	z-index: 0;
}

.marker {
	font-size: 10;
}

.map-container img {
	box-sizing: border-box;
	height: 25px;
	padding: 5px;
}

.map-container img.active {
	height: 35px;
	border: 5px solid green;
	box-sizing: border-box;
}