.gas-station-card {
/*	border: 1px lightgrey solid;*/
/*	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);*/
	box-shadow: 1px 1px 5px 5px lightgrey;
/*	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);*/
	border-radius: 10px;
	min-height: 16vh;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.gas-station-card .header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 8px;
}

.gas-station-card .details {
	padding: 8px;
}

.gas-station-logo {
	height: 48px;
	width: 48px;
}

